UBS_API/Connected Services/UBS_TransformService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Humanize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ammount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HumanizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HumanizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HumanzieDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ammount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HumanzieDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HumanzieDoubleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>